.treasury {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
}

.body {
  display: flex;
  align-items: flex-start;
}

.budget {
  display: flex;
  align-items: flex-start;
}
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart {
  /* margin: auto */
}