.treasury {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: baseline;
}

.body {
  display: flex;
  height: 88vh;
}
.graph {
  background: blue;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.budget {
  background: red;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart {
  /* margin: auto */
}